/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-item-decriptions: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1;;
  margin: 0;
  padding: 0;
}
@media (min-width: 1140px) {
  .container{
    width: 1020px;
  }
}
.wrapper{
  background-color: #F1F3F6;
}
.custom-navbar{
  background-color: #007bff!important;
}
@media (min-width: 991px) {
  .wrapper-body{
    min-height: 700px;
  }
  .colFive{
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 990px) {
  .wrapper-body{
    min-height: 500px;
  }
}
@media (min-width: 1991x) {
  .product-page-top{
    margin-top: -150px!important;
  }
}

 .basketCount{
   font-size: 12px;
   background-color: #ff0000;
   color: #ffffff;  
   min-width: 15px;
   height: 15px;
   text-align: center;
   border-radius: 50%;
   padding-top: 2px;
 }

.seach-bar, 
.seach-bar:focus{
  background-color: transparent;
  border-top: 0px solid #ffffff;
  border-right: 0px solid #ffffff;
  border-left: 0px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
  padding: 0 0 0 0;
  height: 30px;
  color:#ffffff;
} 
.seach-bar::placeholder { 
  color: #ffffff;
  opacity: 1;
}

.seach-bar:-ms-input-placeholder {
  color: #ffffff;
}

.seach-bar::-ms-input-placeholder { 
  color: #ffffff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}
@media (max-width: 991px) {
  .seach-bar{
    width: 60%;
  }
}
/*==================
Items CSS Start
=====================*/
footer{
  background-color: #007bff;
  padding: 10px 5px 10px 5px;
  margin: 0 auto;
}

footer p{
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 0;
}

/*==================
Items CSS Start
=====================*/
.item {
  display: block;
  border: 0px solid #9b9999;
  margin:10px auto 10px auto;

}

.item img{
  width:100%;
  max-width: 100%;
  min-height: 150px;
}
.item-decription{
  display: block;
  padding: 5px 7px 20px 5px ;
}
.item-decription h1{
  font-size: 16px;
  font-weight: 500;
  color:#9b9999;
}
.item-decription h3{
  font-size: 12px;
  font-weight: 600;
  color:#000000;
}
.price{
  color:#000000;
}
.mrp{
  padding: 0 5px;
  color:#c0bdbd;
}
.off{
  color:#0b9619;
}

.item-decription button,
.item-decription button:focus {
  font-size: 14px;
  font-weight: 500;
  display: block;
  width: 100px;
  text-align: center;
  padding: 3px 5px;
  color:#000000;
  outline: none;
  background-color: #F7AD22;
  border:1px solid #F7AD22;
  margin: 0 auto;
  border-radius: 30px;
}
.item-decription button:hover {
  background-color: #F7AD22;
  border:1px solid #f7ad22;
  outline: none;
  color: #000000;
}
.data-not-fetch{
  font-size: 15px;
  color: #c20d0d;
  text-align: center;
}
.left-border{
  border-left: 1px solid #9b9999;
}
@media(min-width: 991px) {
  .left-border{
    margin-top: -150px!important;
  }
}
/*==================
Items CSS Ends
=====================*/
@media (min-width: 991px) {

  .sort-option{
    display: none!important;
  }
  .sort-button{
    display: none!important;
  }

  .items-sort{
    margin: 15px 0 15px 0;
    padding: 0;
  }

  .items-sort > li{
    display: inline-block;
    list-style: none;
  }
  .items-sort > li>h4{
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    padding-right: 15px;
    margin:0;
  }
  .items-sort > li > ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .items-sort > li > ul > li{
    display: inline-block;
    list-style: none;
    margin-left: 7px;
    margin-right: 7px;
  }
  .items-sort > li > ul > li>label{
    font-size: 14px;
    color: #777789;
  }
  .items-sort > li > ul > li>label:focus,
  .items-sort > li > ul > li>label:hover,
  .items-sort > li > ul > li>label:active{
    font-size: 14px;
    color: #007bff;
  }
  .items-sort input[type="radio"] {
    display: none;
  }
}

@media (max-width: 990px) {
  .sort-option{
    display: block;
  }
  .sort-button{
    display: block;
  }

  .items-sort{
    margin: 15px 0 15px 0;
    padding: 0;
  }
  
  .items-sort > li{
    position: relative;
    display: inline-block;
    list-style: none;
  }
  .items-sort > li>h4{
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    padding-right: 15px;
    margin:0;
  }

  .items-sort > li > ul {
    position: absolute;
    z-index: 2;
    display: none;
    margin: 0;
    padding: 10px 10px 0 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    left: -100%;
  }
  
  .items-sort > li:hover > ul {
    position: absolute;
    display: block;
    margin: 0;
    padding: 10px 10px 0 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    left: -100%;
  }

  .items-sort > li > ul > li{
    display: block;
    list-style: none;
    margin-left: 7px;
    margin-right: 7px;
  }
  .items-sort > li > ul > li>label{
    font-size: 14px;
    color: #777789;
    white-space: nowrap;
  }

  .items-sort > li > ul > li.sort-option h6 {
    font-size: 12px;
    font-weight: 600;
    color: #777789;
  }

  .items-sort > li > ul > li.sort-button{
    border-top: 1px solid #ddd;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .items-sort > li > ul > li.sort-button a {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #007bff;
    width: 50%;
    padding: 10px 5px 10px 5px;
    cursor: pointer;
  }

  .items-sort > li > ul > li.sort-button a:first-child{
    border-right: 1px solid #dddddd;
  }
  .items-sort > li > ul > li.sort-button a:hover{
    color: #0a5bb3;
    text-align: center;
  }
  .items-sort input[type="radio"] {
    display: block;
  }
}




/*=====================
Filter CSS
====================*/

@media (min-width: 991px) {

  .filter-option{
    display: none!important;
  }
  .filter-button{
    display: block!important;
  }

  .items-filter{
    margin: 15px 0 15px 0;
    padding: 0;
  }

  .items-filter > li{
    display: inline-block;
    list-style: none;
    width: 100%;
  }
  .items-filter > li>h4{
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    padding-right: 15px;
    margin:0;
  }
  .items-filter > li > ul {
    display: block;
    margin: 0;
    padding: 0;
  }

  .items-filter > li > ul > li{
    display: block;
    list-style: none;
    margin-left: 7px;
    margin-right: 7px;
  }
  .items-filter > li > ul > li>label{
    font-size: 14px;
    color: #777789;
  }

  .items-filter > li > ul > li.filter-button{
    border-top: 0px solid #ddd;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
  }
  .items-filter > li > ul > li.filter-button a {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background-color: #007bff;
    width: 120px;
    padding: 10px 5px 10px 5px;
    cursor: pointer;
    border-radius: 30px;
    margin: 0 auto;
    text-align:center;
  }

  .items-filter > li > ul > li.filter-button a:first-child{
    border-right: 1px solid #dddddd;
    display: none;
  }
  .items-filter > li > ul > li.filter-button a:hover{
    color: #fafafa;
    text-align: center;
  }
  input[type="range"] {
    width: 100%;
    margin:40px 0 20px 0;
  }
}

@media (max-width: 992px) {
  .sort-option{
    display: block;
  }
  .sort-button{
    display: block;
  }


  .items-filter{
    margin: 15px 0 15px 0;
    padding: 0;
  }
  c
  .items-filter > li{
    position: relative;
    display: inline-block;
    list-style: none;
  }
  .items-filter > li>h4{
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    padding-right: 15px;
    margin:0;
  }

  .items-filter > li > ul {
    position: absolute;
    z-index: 2;
    display: none;
    margin: 0;
    padding: 10px 10px 0 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    right: -50%;
  }
  
  .items-filter > li:hover > ul {
    position: absolute;
    display: block;
    margin: 0;
    padding: 10px 10px 0 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    right: -50%;
  }

  .items-filter > li > ul > li{
    display: block;
    list-style: none;
    margin-left: 7px;
    margin-right: 7px;
  }
  .items-filter > li > ul > li>label{
    font-size: 14px;
    color: #777789;
    white-space: nowrap;
  }

  .items-filter > li > ul > li.filter-option h6 {
    font-size: 12px;
    font-weight: 600;
    color: #777789;
  }

  .items-filter > li > ul > li.filter-button{
    border-top: 1px solid #ddd;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .items-filter > li > ul > li.filter-button a {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #007bff;
    width: 50%;
    padding: 10px 5px 10px 5px;
    cursor: pointer;
  }

  .items-filter > li > ul > li.filter-button a:first-child{
    border-right: 1px solid #dddddd;
  }
  .items-filter > li > ul > li.filter-button a:hover{
    color: #0a5bb3;
    text-align: center;
  }
}


.addItem{
  display: block;
  border:1px solid #dddddd;
  padding: 10px;
  margin-top: 20px;
}

.addItem img{
  width: 100%;
  max-width: 100%;
  height: 80px;
}

.addItem-content{
  margin:10px 0 0 0;
  padding:0;
}
.addItem-content h3{
  font-size: 12px;
}
.addItem-content strike{
  margin-left: 5px;
  margin-right: 5px;
}
.addItem-content li{
  display: inline-block;
  list-style: none;
  width: 33.333%;
}
@media(max-width:991px) {
  .addItem-content li{
    display: block;
    width: 100%;
  }
}
.round-btn{
  font-size: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color:#000000;
}

.item-count{
  font-size: 10px;
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.remove-btn,
.remove-btn:hover,
.remove-btn:focus,
.remove-btn:active:focus{
  font-size: 16px;
  color: #000000;
  background-color: transparent;
  border:0px;
  outline: none;
  padding: 0;
  margin-top: 15px;
}

.price-details{
  border:1px solid #dddddd;
  padding: 10px;
  margin-top: 20px;
}
.price-details h2{
  font-size: 16px;
  color:#bbbbbb;
  border-bottom: 1px solid #dcd4d4;
  padding-bottom: 10px;
}
.price-details h2 span{
  float: right;
}

.price-details p{
  font-size: 14px;
  color: #494949;
}

.price-details p span{
  float: right;
}

.price-details h3{
  font-size: 16px;
  color:#000000;
  border-top: 1px solid #dcd4d4;
  padding-top: 10px;
}

.price-details h3 span{
  float: right;
}















